{% extends 'base.html' %}

{% block content %}
<section class="p-5">
    <div class="container">
        <div class="d-flex">
            <a href="/{{ request.session.role }}/reward" class="text-dark"><i class="bi bi-arrow-return-left h2 me-4"></i></a>
            <h2 class="mb-4">Edit Reward</h2>
        </div>
        {% include 'message_box.html' with variable=messages %}
        <form method="POST" class="row g-3">
            {% csrf_token %}
            <input type="hidden" name="reward_sn" value="{{ reward.0 }}">
            <div class="col-12">
                <label for="reward_name" class="form-label">Reward Name</label>
                <input type="text" class="form-control" name="reward_name" id="reward_name" value="{{ reward.1 }}">
            </div>
            <div class="col-12">
                <label for="reward_price" class="form-label">Coin Price</label>
                <input type="text" class="form-control" name="reward_price" id="reward_price" value="{{ reward.2 }}">
            </div>
            <div class="col-12">
                <label for="reward_qty" class="form-label">Quantity</label>
                <input type="text" class="form-control" name="reward_qty" id="reward_qty" value="{{ reward.3 }}">
            </div>
            <div class="col-12">
                <label for="reward_desc" class="form-label">Reward Description</label>
                <textarea class="form-control" name="reward_desc" id="reward_desc" rows="5">{{ reward.4 }}</textarea>
            </div>
            <div class="col-12"></div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Confirm Edit</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}