{% extends 'manager/manager_base.html' %}

{% block manager_content %}
<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/manager">Donations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="beneficiary">Beneficiaries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="merchant">Merchants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="food">Food</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="donor">Donors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="coupon">Coupons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="claim">Claims</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="reward">Rewards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="redemption">Redemptions</a>
        </li>
    </ul>
</nav>

<div class="p-3 bg-white border border-top-0 table-responsive">
    <a href="reward/add" class="btn btn-warning mb-3">Add New Reward</a>
    <table class="table table-sm table-striped table-hover border align-middle">
        <thead>
            <th>#</th>
            <th>Reward Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th style="width: 15%">Actions</th>
        </thead>
        {% for reward in rewards %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ reward.1 }}</td>
                <td>{{ reward.2 }}</td>
                <td>{{ reward.3 }}</td>
                <td>{{ reward.4 }}</td>
                <td class="d-flex">
                    <a href="reward/edit/{{ reward.0 }}" class="btn btn-primary btn-sm w-50 mx-1">Edit</a>
                    <form method="POST" style="display: inline" class="w-50 mx-1">
                        {% csrf_token %}
                        <input type="hidden" name="reward_sn" value="{{ reward.0 }}" />
                        <button
                            onclick="return confirm('Are you sure you want to delete reward {{ reward.1 }}?');"
                            class="btn btn-danger btn-sm w-100"
                            type="submit"
                            name="action"
                            value="delete"
                        >
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <nav>
        <ul class="pagination justify-content-center mt-4">
            <li class="page-item {% if not rewards.has_previous %} disabled {% endif %}">
                <a href="?page=1" class="page-link">&laquo First</a>
            </li>
            <li class="page-item {% if not rewards.has_previous %} disabled {% endif %}">
                <a href="?page={% if rewards.has_previous %}{{ rewards.previous_page_number }}{% endif %}"
                    class="page-link">Previous</a>
            </li>
            <li class="page-item disabled"><a class="page-link text-primary">
                Page {{ rewards.number }} of {{ rewards.paginator.num_pages }}
            </a></li>
            <li class="page-item {% if not rewards.has_next %} disabled {% endif %}">
                <a href="?page={% if rewards.has_next %}{{ rewards.next_page_number }}{% endif %}"
                    class="page-link">Next</a></li>
            <li class="page-item {% if not rewards.has_next %} disabled {% endif %}">
                <a href="?page={{ rewards.paginator.num_pages }}" class="page-link">Last &raquo</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}