{% extends 'base.html' %}

{% block content %}
<h1>Login Page</h1>
<p style="color: red">{{ status|safe }}</p>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="login_email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="login_email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="login_password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="login_password">
    </div>
    <button type="submit" value="login" class="btn btn-primary">Submit</button>
</form>

<br>
<h4>[TEMP] Login to User Group</h4>
<ul>
    <li><a href="/donor">Donor</a></li>
    <li><a href="/beneficiary">Beneficiary</a></li>
    <li><a href="/merchant">Merchant</a></li>
    <li><a href="/manager">Manager</a></li>
</ul>
{% endblock %}