{% extends 'base.html' %}

{% block content %}
<section class="p-5 w-50 mx-auto">
    <div class="d-flex">
        <a href="/{{ request.session.role }}/merchant" class="text-dark"><i class="bi bi-arrow-return-left h2 me-4"></i></a>
        <h2 class="mb-4">Add New Merchant</h2>
    </div>
    {% include 'message_box.html' with variable=messages %}
    <form method="POST" class="row g-3">
        {% csrf_token %}
        <div class="col-12">
            <label for="name" class="form-label">Stall Name</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ merchant.0 }}">
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ merchant.1 }}">
        </div>
        <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" minlength="6" required>
        </div>
        <div class="col-md-6">
            <label for="location" class="form-label">Location (Prev: {{ merchant.2 }})</label>
            <select name="location" id="location" class="form-select">
                <option value="Central">Central</option>
                <option value="North">North</option>
                <option value="South">South</option>
                <option value="East">East</option>
                <option value="West">West</option>
            </select>
        </div>
        <div class="col-12"></div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Confirm Add</button>
        </div>
    </form>
</section>
{% endblock %}