<h2>Manage All Beneficiaries</h2>
<a href="add/beneficiary">Register New Beneficiary</a>
<table border="1">
    <thead>
        <th>Full Name</th>
        <th>Email</th>
        <!-- <th>Hashed Password</th> -->
        <th>Household Income</th>
        <th>Location</th>
        <th>Action</th>
    </thead>
    {% for beneficiary in beneficiaries %}
        <tr>
            <td>{{ beneficiary.0 }}</td>
            <td>{{ beneficiary.1 }}</td>
            <!-- <td>{{ beneficiary.2 }}</td> -->
            <td>${{ beneficiary.3 }}</td>
            <td>{{ beneficiary.4 }}</td>
            <td>
                <a href="beneficiary/{{ beneficiary.0 }}"><button>View</button></a>
                <a href="beneficiary/{{ beneficiary.0 }}/edit"><button>Edit</button></a>
                <form method="POST" style="display: inline">
                    {% csrf_token %}
                    <input type="hidden" name="benef_email" value="{{ beneficiary.0 }}" />
                    <button
                        onclick="return confirm('Are you sure you want to delete user {{beneficiary.0}}?');"
                        type="submit"
                        name="action"
                        value="delete"
                    >
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>