{% for food_item in food_items %}
<div class="card mb-5 mt-3 mx-2 bg-body rounded me-5" style="min-width: 300px; max-width: 300px;">
    <img src="https://www.themealdb.com//images//media//meals//ustsqw1468250014.jpg" alt="{{ food_item.2 }}"
        class="card-img-top">
    <div class="card-body text-center">
        <h3 class="card-title mb-3">{{ food_item.2 }}</h3>
        <h6 class="card-subtitle">{{ food_item.3 }} Stall @ {{ food_item.0 }}</h6>
        <p class="card-text mt-4 px-1 pb-3">{{ food_item.4 }}</p>
    </div>
    <div class="card-footer">
        <form method="POST" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="merchant_email" value="{{ food_item.0 }}" />
            <input type="hidden" name="food_sn" value="{{ food_item.1 }}" />
            <input type="hidden" name="coupon_sn" value="{{ coupons.0.0 }}">
            <button
                onclick="return confirm('Are you sure you want to use a coupon to redeem a meal of {{ food_item.2 }}?');"
                class="btn btn-warning btn-sm stretched-link w-100"
                type="submit"
                name="action"
                value="claim"
                {% if coupon_count < 1 %} disabled {% endif %}
            >
                Redeem
            </button>
        </form>
    </div>
</div>
{% endfor %}