{% extends 'base.html' %}

{% block content %}
<section class="p-5">
    <div class="container py-2">
        <!-- <h2>Welcome Beneficiary Terry Tantio!</h2>
        <h3>You are in the North area</h3>
        <br> -->
        <h1>Redeem Your Favourite Food</h1>
        <h2>Coupons: {{ coupon_count }}</h2>
        {% for coupon in coupons %}
            <h3>{{ coupon.0 }}</h3>
        {% endfor %}
        <h4 class="mt-4">Showing the {{ request.session.location }} stalls nearest to you first!</h4>
        <div class="d-flex flex-row flex-nowrap overflow-auto mt-4">
            {% include 'beneficiary/food_card.html' with food_items=food_items_near %}
        </div>
        <h4 class="mt-5">A little extra travelling required!</h4>
        <div class="d-flex flex-row flex-nowrap overflow-auto mt-4">
            {% include 'beneficiary/food_card.html' with food_items=food_items_far %}
        </div>
    </div>
</section>
{% endblock %}