{% extends 'base.html' %}

{% block content %}
<section class="p-5 w-50 mx-auto">
    <div class="container">
        <div class="d-flex">
            <a href="/merchant" class="text-dark"><i class="bi bi-arrow-return-left h2 me-4"></i></a>
            <h2 class="mb-4">Adding New Food Item</h2>
        </div>
        {% include 'message_box.html' with variable=messages %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="food_name" class="form-label">Food Name</label>
                <input type="text" class="form-control" for="food_name" name="food_name" placeholder="Chicken Rice">
            </div>
            <div class="mb-3">
                <label for="food_desc" class="form-label">Description</label>
                <textarea class="form-control" name="food_desc" name="food_desc" rows="5"
                    placeholder="Try out the best chicken rice you will ever taste in your life!"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Confirm Add</button>
        </form>
    </div>
</section>
{% endblock %}