{% extends 'base.html' %}

{% block content %}
<section class="p-5 w-50 mx-auto">
    <div class="container">
        <div class="d-flex">
            <a href="/{{ request.session.role }}" class="text-dark"><i class="bi bi-arrow-return-left h2 me-4"></i></a>
            <h2 class="mb-4">Editing Your Food Item</h2>
        </div>
        {% include 'message_box.html' with variable=messages %}
        <div class="border rounded bg-light p-3 mb-3">
            <p class="fs-5"><b>Current Food Name: </b>{{ food_item.2 }}</p>
            <p class="fs-5"><b>Current Description: </b><br>{{ food_item.3 }}</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="food_sn" value="{{ food_item.1 }}">
            <div class="mb-3">
                <label for="food_name" class="form-label">Food Name</label>
                <input type="text" class="form-control" name="food_name" for="food_name" value="{{ food_item.2 }}">
            </div>
            <div class="mb-3">
                <label for="food_desc" class="form-label">Description</label>
                <textarea class="form-control" name="food_desc" rows="5">{{ food_item.3 }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Confirm Edit</button>
        </form>
    </div>
</section>
{% endblock %}