{% extends 'base.html' %}

{% block content %}
<section class="p-5">
    <div class="container">
        <div class="d-flex align-items-center">
            <div>
                <h1>Manage Your Stall Here</h1>
            </div>
            <div>
                <a href="food/add" class="btn btn-warning mx-4">Add New Food</a>
            </div>
        </div>
        {% include 'message_box.html' with variable=messages %}
        <div class="d-flex flex-row flex-nowrap overflow-auto mt-3">
            {% include 'merchant/food_card.html' with variable=food_items %}
        </div>
    </div>
</section>
{% endblock %}