<h2>Manage All Donors</h2>
<a href="add/donor">Register New Donor</a>
<table border="1">
    <thead>
        <th>Full Name</th>
        <th>Email</th>
        <!-- <th>Hashed Password</th> -->
        <th>Coin</th>
        <th>Action</th>
    </thead>
    {% for donor in donors %}
        <tr>
            <td>{{ donor.0 }}</td>
            <td>{{ donor.1 }}</td>
            <!-- <td>{{ donor.2 }}</td> -->
            <td>{{ donor.3 }}</td>
            <td>
                <a href="donor/{{ donor.1 }}"><button>View</button></a>
                <a href="donor/{{ donor.1 }}/edit"><button>Edit</button></a>
                <form method="POST" style="display: inline">
                    {% csrf_token %}
                    <input type="hidden" name="donor_email" value="{{ donor.1 }}" />
                    <button
                        onclick="return confirm('Are you sure you want to delete user {{donor.1}}?');"
                        type="submit"
                        name="action"
                        value="delete"
                    >
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>