{% extends 'base.html' %}

{% block content %}
<section class="p-5">
    <div class="container">
        <div class="d-flex">
            <a href="/{{ request.session.role }}/donor" class="text-dark"><i class="bi bi-arrow-return-left h2 me-4"></i></a>
            <h2 class="mb-4">Edit Donor</h2>
        </div>
        {% include 'message_box.html' with variable=messages %}
        <form method="POST" class="row g-3">
            {% csrf_token %}
            <input type="hidden" name="old_email" value="{{ donor.1 }}">
            <div class="col-12">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ donor.0 }}">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" value="{{ donor.1 }}">
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" minlength="6" required>
            </div>
            <div class="col-12"></div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Confirm Edit</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}